<html>
  <head>
    <title>Greeting Page</title>
  </head>
  <body>
    <img src="/flight-sim-capsule.png"/>
    <h2>Step inside the failure simulator!!</h2>
    <form method="post">
      <label for"ip-input">Enter your machines IP address:</label>
      <input name="ip-input" type="text"></input>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
